@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap');

@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/fredoka-one.woff2) format('woff2');
}
